/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*

border: 15px solid white;
    -webkit-border-radius: 20px;
    box-shadow: 10px 10px 25px #131313;


    .flipper {
    transition: 0.4s;
    transform-style: preserve-3d;
    position: relative;
    transform-origin: 100% 140px; /* half of height 
}

*/

/*@font-face {
  font-family: leagueScript;
  src: url(../img/LeagueScriptNumberOne-webfont.woff);
}*/

body {
    /* -webkit-linear-gradient(top, rgba(40,40,40,1) 0%,rgba(0,0,0,0) 80%) no-repeat, */
    background: url("../img/vi.png");
    color: white;
}

.scaleImg {
    /* Scale image to fit parent while maintaining aspect ratio */
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.flip-container {
    position: relative;
    margin: 230px auto;
    margin-bottom: 350px;
    perspective: 1000px;
    left: -10px;
}

/* flip the pane when hovered */
/*.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateX(180deg);
}*/

.flip-container, .front, .back {
    width: 270px;
    height: 180px;
}

/* flip speed goes here */
.flipper {
    -webkit-transition: 0.3s;
    transition: 0.3s;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    transform-origin: 100% 90px; /* half of height */

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-transition: 0.3s;
    transition: 0.3s;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    border: 10px solid white;
    border-radius: 10px;

    position: absolute;
    top: 0;
    left: 0;

    box-shadow: 10px 10px 25px #131313;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateX(0deg) rotateZ(5deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateX(180deg) rotateZ(5deg);
    background: white url("../img/paper.png");
    color: #131313;
    width: 230px;
    height: 140px;
    padding: 20px;
    font-family: Helvetica;
    font-weight: lighter;
}

.emoji {
    text-shadow: 3px 3px 5px rgba(50, 50, 50, 0.3);
    position: absolute;
    font-size: 40pt;
}

.back .panda {
    bottom: 7px;
    right: 175px;
    transform: rotateZ(-15deg);
    font-size: 30pt;
}

.back .tree {
    right: -25px;
    top: -30px;
    font-size: 50pt;
    transform: rotateZ(15deg);
}

.back .gift {
    top: 25px;
    right: 10px;
    font-size: 25pt;
    z-index: 2;
}

.back .snowman {
    top: -10px;
    right: 20px;
    transform: rotateZ(-8deg);
}

.unicorn {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

/* c@@@@@7 */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
